# Sistema de administración de paquetes (package manager)
java -version
mvn -version

# Establece el perfil a usar
SPRING_PROFILES_ACTIVE=prod

# Puerto en el que correrá la aplicación (algunas plataformas lo establecen automáticamente)
PORT=8090
